<main id="p-productsTable">
    {{#if Products}}
        <table class="table table-dark">
            <tr class="text-warning">
                <th>id</th>
                <th>title</th>
                <th>price</th>
                <th>dateCreated</th>
                <th>dateMod</th>
                <th>Pic</th>
            </tr>
            {{#each Products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.dateCreated}}</td>
                <td>{{this.dateMod}}</td>
                <td><img class="pic" src="{{this.thumbnail}}" alt="Product's Picture" /></td>
            </tr>
            {{/each}}
        </table>
    {{else}}
        <h1 class="text-warning">Empty</h1>
    {{/if}}
</main>
